@* BlazorFrontend/Shared/NavMenu.razor *@
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="/">📚 Thư viện Số</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">🏠 Trang chủ</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/books">📖 Danh sách Sách</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/history">📋 Lịch sử Mượn</NavLink>
            </li>
        </ul>
    </div>
</nav>
