<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorWsImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/sa_soap_ws_demo/calculatorWebService"
                binding="basicHttpBinding" bindingConfiguration="CalculatorWsImplPortBinding"
                contract="CalculatorService.CalculatorWs" name="CalculatorWsImplPort" />
        </client>
    </system.serviceModel>
</configuration>